[user]
	name = kamesan1577
	email = kamesan1577@users.noreply.github.com
[pull]
	rebase = true
[includeIf "gitdir:~/path/to/iniad-rep/"]
   	path = ~/.gitconfig_iniad
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
